@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --fonte-merriweather: "Merriweather Sans", sans-serif;
}

::placeholder{
    color: #A3AED0;
    font-size: 13px;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.centro__pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3%;
}

.pagina__login {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #06225F;
    justify-content: space-between;
}

.pagina__login__esquerda {
    position: relative;
    width: 25%;
}

.imagem__login__esquerda{
    margin-top: -7.5%;
}

.pagina__login__centro {
    display: flex;
    background-color: transparent;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.imagem__login__centro {
    position: absolute;
    top: 7%;
    right: 25.2%;
}

.pagina__login__card {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    border-radius: 24px;
    background-color: white;
    z-index: 1;
    gap: 4%;
}

.login__card__topo {
    padding: 8% 6% 0;
}

.login__card__centro {
    padding: 2% 6% 0;
}

.titulo__login {
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

.texto__login {
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #A3AED0;
    font-size: 16px;
    margin: 5% 0;
}

.formulario__label{
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.formulario__input{
    width: 94%;
    border-radius: 16px;
    padding: 3.5%;
    margin: 1% 0 7% 0;
    border: 0.5px solid #E0E5F2;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
}

.login__card__rodape {
    padding: 1% 6%;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.rodape__opcoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rodape__checkbox {
    display: none;
}

.checkbox__customizado {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px
}

.checked {
    background-color: #356AFF;
    position: relative;
}

.checked::after {
    content: "";
    position: absolute;
    left: 25%;
    top: -3.5%;
    width: 5px;
    height: 10px;

    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(-140deg);
}

.texto__checkbox {
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.rodape__link{
    text-decoration: none;
    color: #356AFF;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.rodape__link:hover {
    color: #06225F;
}

.rodape__botao {
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #356AFF;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin: 2em auto 0 auto;
    width: 80%;
    height: 35%;
    border-radius: 16px;
}

.rodape__botao:hover {
    background-color: #06225F;
}

.pagina__login__direita {
    width: 25%;
    height: 100%;
    background-color: transparent;
}