@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --fonte-merriweather: "Merriweather Sans", sans-serif;
    --cor-background:#06225F;
}

::placeholder{
    color: #A3AED0;
    font-size: 13px;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.pagina__login{
    position: relative;
    background-color: var(--cor-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.pagina__login__esquerda {
    width: 33%;
}

.pagina__login__centro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    height: 100%;
}

.pagina__login__card{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 78%;
    justify-content: space-between;
    border-radius: 24px;
    padding: 6%;
    min-height: 400px;
    min-width: 320px;
    z-index: 1;
}


.login__card__centro{
    display: flex;
    flex-direction: column;
    height: 60%;
}

.titulo__login{
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.texto__login {
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #A3AED0;
    font-size: 16px;
    margin: 5% 0;
}

.formulario__login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
}

.formulario__label{
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.formulario__input{
    width: 94%;
    border-radius: 16px;
    padding: 3%;
    margin: -5% 0 0 0;
    border: 0.5px solid #E0E5F2;
}

.login__card__rodape {
    height: 20%;
    display: flex;
    flex-direction: column;
}

.rodape__opcoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rodape__checkbox {
    display: none;
}

.checkbox__customizado {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px
}

.checked {
    background-color: #356AFF;
    position: relative;
}

.checked::after {
    content: "";
    position: absolute;
    left: 27%;
    top: -5%;
    width: 5px;
    height: 10px;

    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(-140deg);
}

.texto__checkbox {
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.rodape__link{
    text-decoration: none;
    color: #356AFF;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.rodape__botao {
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #356AFF;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin: 8% auto 0 auto;
    width: 80%;
    height: 40%;
    border-radius: 16px;
}

.pagina__login__direita {
    width: 33%;
    height: 100%;
}

.imagem__background__n{
    position: absolute;
    top: 8%;
    left: 58%;
    z-index: 0;
}