/* 
TODO - Fazer media queries para mudança do tamanho dos textos e para que as imagens desapareçam ao atingir um certo tamanho limite (será necessário testear esse tamanho)

ONDE PAREI - No desenvolvimento do centro da página. Ainda não possui display, margens ou nenhuma estilização relevante, mas já possui classes e está delimitado por uma borda azul.
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --branco-background: #EFEFEF;
    --branco: #FFFFFF;
    --fonte-merriweather: "Merriweather Sans", sans-serif;
    --tempo-transicao: 0.3s;
    --azul-newgate: #356AFF;
    --azul-escuro-newgate: #094bd8;
}

a{
    color: black
}

@keyframes mostraFiltros {
    from {
        width: 0%;
        display: none;
    }

    to{
        width: 20vw;
        display: flex;
    }
}

@keyframes fechaFiltros {
    from {
        width: 20vw;
        display: flex;
    }

    to{
        width: 0%;
        display: none;
    }
}

body {
    background-color: var(--branco-background);
}

.principal {
    display: flex;
}

.sidebar {
    position: fixed;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    padding: 8px 1%;
    width: 4%;
    height: 100vh;
    align-items: center;
    gap: 5.2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: var(--tempo-transicao);
}

.sidebar__btn {
    margin: 25% 0 4% 0;
    background-color: transparent;
    border: none;
}

hr {
    width: 100%;
    margin: -40% 0;
    transition: var(--tempo-transicao);
}

.sidebar__link {
    display: flex;
    align-items: center;
}

.sidebar__link:active {
    color: var(--azul-newgate);
}

.sidebar__link__img {
    width: 30px;
    padding: 10% 0;
    opacity: 30%;
}

.sidebar__link__img:hover {
    opacity: 100%;
}

.current {
    opacity: 100%;
}

.no__click {
    cursor: default;
    pointer-events: none;
}

.sidebar__link__texto {
    font-size: 14px;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 10px;
    display: none;
}

.principal__conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98.7vh;
    padding: 1.5% 2% 0 2%;
    margin-left: 5%;
    transition: var(--tempo-transicao);
}

.principal__conteudo__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal__conteudo__topo__titulo {
    font-size: 40px;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.principal__conteudo__topo__filtros {
    display: flex;
    color: #5048E5;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    padding: 0.8%;
    border: 2px solid #5048E5;
    align-items: center;
    border-radius: 12px;
}

.principal__conteudo__topo__filtros:hover {
    background-color: #5048E5;
    color: var(--branco);
}

.principal__conteudo__topo__filtros__texto {
    padding-left: 6%;
}

.principal__conteudo__baixo {
    height: 100%;
}

.principal__conteudo__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3% 0 0 0;
    width: 100%;
    height: 22%;
}

.principal__conteudo__cards__card {
    display: flex;
    background-color: var(--branco);
    width: 22%;
    height: 80%;
    border-radius: 16px;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.conteudo__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    height: 50%;
    margin: 5% 0 -5% 0;
}

.esquerda__card {
    display: flex;
    flex-direction: column;
}

.direita__card {
    display: flex;
    flex-direction: column;
}

.card__titulo {
    margin: 2% 0 20% 5%;
    font-size: 14px;
    font-family: var(--fonte-merriweather);
    width: 100%;
}

.card__texto {
    margin: 6% 0 0 5%;
    font-size: 28px;
    font-family: var(--fonte-merriweather);
    font-weight: 700;
    width: fit-content;
}

.card__imagem {
    width: fit-content;
}

.divisoria__cards {
    height: 1%;
    width: 100%;
    padding: 10% 0 0 0;
}

.principal__conteudo__centro{
    height: 70.5%;
    display: flex;
}

.principal__conteudo__centro__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.principal__conteudo__centro__cards__card__graficoEstacadas{
    background-color: var(--branco);
    width: 49%;
    height: fit-content;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
}


.titulo__card__graficoEstacadas{
    padding: 1.5% 0 1.5% 2%;
    border-bottom: 0.5px solid #cacaca;
    margin-bottom: 2%;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    width: 98%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 16px 16px 0 0;
    background-color: #f0f0f0;
}

.graficoEstacadas{
    padding: 1%;
}

.principal__conteudo__centro__cards__card__graficoEstacadasCheio{
    background-color: var(--branco);
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
}

.centro__conteudo__card__graficoEstacadasCheio {
    height: 100%;
}

.titulo__card__graficoEstacadasCheio{
    padding: 1.5% 0 1.5% 2%;
    border-bottom: 0.5px solid #cacaca;
    margin-bottom: 2%;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    width: 98%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 16px 16px 0 0;
    background-color: #f0f0f0;
}

.graficoEstacadasCheio{
    padding: 1%;
    height: 400px;
}

.principal__conteudo__centro__cards__card__graficoPizza{
    background-color: var(--branco);
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
}

.centro__conteudo__card__graficoPizza {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.titulo__card__graficoPizza{
    padding: 1.5% 0 1.5% 2%;
    border-bottom: 0.5px solid #cacaca;
    margin-bottom: 1%;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    width: 98%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 16px 16px 0 0;
    background-color: #f0f0f0;
}

.graficoPizza{
    padding: 1%;
    height: 450px;
}

.rodape {
    border: 1px solid red;
}

.principal__filtros {
    position: fixed;
    display: none;
    background-color: var(--branco);
    right: 0;
    height: 100vh;
    width: 20vw;
}

.principal__filtros__conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.principal__filtros__conteudo__topo{
    display: flex;
    width: 100%;
    height: 5%;
}

.principal__filtros__conteudo__centro{
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    height: 20%;
}

.filtro__conteudo__centro__titulo{
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    color: grey;
}

#inputData{
    padding: 3%;
    margin-top: -1%;
    border-radius: 16px;
    width: 93.5%;
    border: 1px solid grey;
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 400;
    color: grey;
    text-align: center;
}

.filtro__conteudo__centro__botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    height: 22%;
}

.botao__filtrar{
    display: flex;
    background-color: var(--azul-newgate);
    color: var(--branco);
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    width: 47%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.botao__filtrar:hover {
    background-color: var(--azul-escuro-newgate);
}

.botao__limpaFiltros {
    display: flex;
    background-color: grey;
    color: var(--branco);
    font-family: var(--fonte-merriweather);
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    width: 47%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.botao__limpaFiltros:hover {
    background-color: rgb(77, 77, 77);
}

.principal__filtros__conteudo__imagemRetorno {
    width: fit-content;
    height: 100%;
}